@page "/rank"
@inherits RankViewBase


@if (Stats is null)
{
    <p>Loading...</p>
}
else
{
    Rank rank = RankTracker.GetRank(Stats.Points);
    string rankName = RankTracker.GetName(rank);
    
    <div class="rank-container">
        
        <div class="rank-stats">
            <div class="rank-stat"> @*rank-stat--large*@
                <p class="rank-stat__value">@Stats.WinStreaks.ToString("N0")</p>
                <p class="rank-stat__txt">Streaks</p>
            </div>
            
            <div class="rank-stat">
                <p class="rank-stat__value">@Stats.Wins.ToString("N0")</p>
                <p class="rank-stat__txt">Victoires</p>
            </div>

            <div class="rank-stat">
                <p class="rank-stat__value">@Stats.Looses.ToString("N0")</p>
                <p class="rank-stat__txt">Défaites</p>
            </div>

            <div class="rank-stat">
                <p class="rank-stat__value">@Stats.Ties.ToString("N0")</p>
                <p class="rank-stat__txt">Matchs nuls</p>
            </div>
        </div>

        <div class="rank">

            <img class="rank__icon" src="@GetRankImage(rank)" alt="@rankName"/>

            @if (rank < Rank.MasterBall)
            {
                <div class="rank-name">
                    <p class="rank-name__value">@rankName</p>
                </div>
            }
            
            <div class="rank-points">
                
                @if (rank is not Rank.MasterBall)
                {
                    Rank nextRank = RankTracker.GetNextRank(rank);
                    string nextRankName = RankTracker.GetName(nextRank);
                    int winsToNextRank = RankTracker.GetWinsToNextRank(rank, Stats.Points, Stats.WinStreaks);
                    
                    <p class="rank-points-remaining"><span class="rank-points-remaining--color-gretter">@winsToNextRank</span> Victoires avant :</p>
                    <p class="rank-points-remaining-value">
                        @nextRankName
                    </p>
                }
                
                <span style="height: 25px"></span>
            
                @{
                    int point = Stats.Points;
                    int pointStarted = Stats.PointsStarted;
                    
                    int pointsChange = point - pointStarted;
                    bool isGretter = pointsChange >= 0;
        
                    if (pointsChange == 0)
                    {
                        <p class="rank-points-live-score">@pointStarted.ToString("N0") pts</p>
                    }
                    else
                    {
                        <p class="rank-points-live-score">@pointStarted.ToString("N0") pts ( <span class="rank-points-live-score--color-@(isGretter ? "gretter" : "lower")">@(isGretter ? $"+{pointsChange}" : pointsChange)</span> )</p>
                    }
                }

                <div class="rank-points__points">@Stats.Points</div>
                
                @if (rank is Rank.MasterBall)
                {
                    int nextHundred = RankTracker.GetNextHundredPoints(Stats.Points);
                    int winsToReach = RankTracker.GetWinsToNextHundred(rank, Stats.Points, Stats.WinStreaks);
        
                    <span style="height: 40px"></span>
                    <p class="rank-points-hundred-remaining"><span class="rank-points-hundred-remaining-value">@nextHundred</span> points dans <span class="rank-points-live-score--color-gretter">@winsToReach</span> victoires</p>
                }
                
            </div>

        </div>

    </div>
}